Software/Node-red/node-red.json
[
    {
        "id": "529f7df2af045f40",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d91a41010f1fbc2",
        "type": "ui_chart",
        "z": "529f7df2af045f40",
        "name": "Linea: Temp ambiente",
        "group": "d303a8f912122b1a",
        "order": 1,
        "width": 6,
        "height": 6,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1000,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7ca7d59a170607bf",
        "type": "ui_gauge",
        "z": "529f7df2af045f40",
        "name": "Mano: Temp Ambiente ",
        "group": "d303a8f912122b1a",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Tem",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b41be07d2035b45",
        "type": "ui_chart",
        "z": "529f7df2af045f40",
        "name": "Linea: Humedad ambiente",
        "group": "d303a8f912122b1a",
        "order": 3,
        "width": 6,
        "height": 6,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 780,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7a45e06d8c433d27",
        "type": "ui_gauge",
        "z": "529f7df2af045f40",
        "name": "Mano: Humedad ambiente",
        "group": "d303a8f912122b1a",
        "order": 4,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "89fddf7491e6461b",
        "type": "ui_chart",
        "z": "529f7df2af045f40",
        "name": "",
        "group": "179df7c37f86b401",
        "order": 1,
        "width": 6,
        "height": 6,
        "label": "TemP1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1000,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ed8799dc78a97412",
        "type": "ui_gauge",
        "z": "529f7df2af045f40",
        "name": "",
        "group": "179df7c37f86b401",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "TemP1",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "b3507be3660bbacc",
        "type": "ui_chart",
        "z": "529f7df2af045f40",
        "name": "",
        "group": "179df7c37f86b401",
        "order": 3,
        "width": 6,
        "height": 6,
        "label": "RitmoC1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1ba599eb2814ed6e",
        "type": "ui_gauge",
        "z": "529f7df2af045f40",
        "name": "",
        "group": "179df7c37f86b401",
        "order": 4,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "RitmoC1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "a3801595a5d870aa",
        "type": "function",
        "z": "529f7df2af045f40",
        "name": "function 2",
        "func": "let bpm = { \"payload\": msg.payload.BPM };\nlet tempPuerco = { \"payload\": msg.payload.TempPuerco };\nlet temperature = { \"payload\": msg.payload.TempAmbiente };\nlet humidity = { \"payload\": msg.payload.Humedad };\n\n",
        "outputs": 4,
        "timeout": "2",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            [
                "b3507be3660bbacc",
                "1ba599eb2814ed6e",
                "0220d1987576a84f"
            ],
            [
                "9d91a41010f1fbc2",
                "7ca7d59a170607bf",
                "34bed161e2fef570"
            ],
            [
                "89fddf7491e6461b",
                "ed8799dc78a97412",
                "c27177d158d5c88c"
            ],
            [
                "3b41be07d2035b45",
                "7a45e06d8c433d27",
                "7bdc19cccb0e107c"
            ]
        ]
    },
    {
        "id": "25851c7713e57887",
        "type": "debug",
        "z": "529f7df2af045f40",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "37e5932b90af92f6",
        "type": "mqtt in",
        "z": "529f7df2af045f40",
        "name": "Receive Sensor Data",
        "topic": "nicamex/porcino",
        "qos": "2",
        "datatype": "json",
        "broker": "f9c3d4a4.2c5e8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "1fa42869467628c6"
            ]
        ]
    },
    {
        "id": "1fa42869467628c6",
        "type": "change",
        "z": "529f7df2af045f40",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"BPM\": msg.payload.BPM,\t    \"TempPuerco\": msg.payload.TempPuerco,\t    \"TempAmbiente\": msg.payload.TempAmbiente,\t    \"Humedad\": msg.payload.Humedad\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "a3801595a5d870aa",
                "25851c7713e57887",
                "a7c4147a88d15413"
            ]
        ]
    },
    {
        "id": "a7c4147a88d15413",
        "type": "influxdb out",
        "z": "529f7df2af045f40",
        "influxdb": "8cf9bfe504fe5a38",
        "name": "",
        "measurement": "proyecto_nicamex",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "0220d1987576a84f",
        "type": "debug",
        "z": "529f7df2af045f40",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 20,
        "wires": []
    },
    {
        "id": "34bed161e2fef570",
        "type": "debug",
        "z": "529f7df2af045f40",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "c27177d158d5c88c",
        "type": "debug",
        "z": "529f7df2af045f40",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "7bdc19cccb0e107c",
        "type": "debug",
        "z": "529f7df2af045f40",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "d303a8f912122b1a",
        "type": "ui_group",
        "name": "Ambiente",
        "tab": "91f17aa5cd5d1d93",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "179df7c37f86b401",
        "type": "ui_group",
        "name": "Puerco1",
        "tab": "91f17aa5cd5d1d93",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "f9c3d4a4.2c5e8",
        "type": "mqtt-broker",
        "name": "MQTT ",
        "broker": "broker.emqx.io ",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8cf9bfe504fe5a38",
        "type": "influxdb",
        "hostname": "192.168.137.67",
        "port": 8086,
        "protocol": "http",
        "database": "proyecto_nicamex",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "91f17aa5cd5d1d93",
        "type": "ui_tab",
        "name": "Principal",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]